*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  /* Définition 1rem = 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
  font-family: sans-serif;
  line-height: 1.6;
  color: #222;
}

h1 {
  /* 32px */
  font-size: 3.2rem;
}

h2 {
  /* 24px */  
  font-size: 2.4rem;
}

h3 {
  /* 19px */
  font-size: 1.9rem;
}

h4 {
  /* 16px */  
  font-size: 1.6rem;
}

h5 {
  /* 13px */  
  font-size: 1.3rem;
}

h6 {
  /* 11px */  
  font-size: 1.1rem;
}
